= form_for @project, html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'text_field'
  .control-group
    .radio
      .controls
        = radio_button_tag :image, 'local', checked: true
        = label_tag :image, 'From local source', for: 'image_local'
    .radio
      .controls
        = radio_button_tag :image, 'external'
        = label_tag :image, 'Using external URL', for: 'image_external'
  .control-group
    = f.label :image, 'From local source', class: 'control-label'
    .controls
      = f.file_field :image, class: 'btn btn-file'
  .control-group
    = f.label :remote_image_url, 'Using external URL', class: 'control-label'
    .controls
      = f.text_field :remote_image_url, class: 'text_field'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), projects_path, class: 'btn'
