= paginate @todos
-if @todos.present?
  - model_class = Todo
  .page-header
    %h3=t '.title', default: model_class.model_name.human.pluralize.titleize
  %table.table.table-striped.todos
    %thead
      %tr
        %th= sortable 'id'
        %th= sortable 'value'
        %th= sortable 'created_at', 'Created at'
        %th=t '.actions', default: t("helpers.actions")
    %tbody
      - @todos.each do |todo|
        %tr
          %td= link_to todo.id, project_todo_path(@project, todo)
          %td= todo.value
          %td=l todo.created_at
          %td
            = link_to t('.edit', default: t("helpers.links.edit")), edit_project_todo_path(@project, todo), class: 'btn btn-mini'
            = link_to t('.destroy', default: t("helpers.links.destroy")), [@project, todo], method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger'
%br
= link_to 'New todo', new_project_todo_path(@project), class: 'btn btn-primary'