- model_class = Project
.page-header
  %h1= @project.name
.container
  .row
    .span3
      = image_tag @project.image_url(:thumb) if @project.image?
    .span9
      %p
        %strong= model_class.human_attribute_name(:user_id) + ':'
        %br
        = @project.user.username
        %br
        %br

#todos=render 'todos'
%br
%br

%h3 Comments:
%table.table.table-striped.comments
  %tbody
    =render @comments

=render 'comments/form', parent: @project, comment: @comment

.form-actions
  = link_to t('.back', default: t("helpers.links.back")), projects_path, class: 'btn'
  = link_to t('.edit', default: t("helpers.links.edit")), edit_project_path(@project), class: 'btn'
  = link_to t('.destroy', default: t("helpers.links.destroy")), project_path(@project), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
