- model_class = Todo
.page-header
  %h1=t '.title', default: model_class.model_name.human.titleize

- model_class = Document
.page-header
  %h3=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped.documents
  %tbody
    - @documents.each do |document|
      %tr
        - if document.document?
          %td= link_to document.document_identifier, document.document_url, { download: document.document_identifier }
          %td
            = link_to t('.destroy', default: t("helpers.links.destroy")), [@todo, document], method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger'

= link_to t('.new', default: t("helpers.links.new")), new_todo_document_path(@todo), class: 'btn btn-primary', id: 'new_attachment', remote: true
%br
%br

%p
  %strong= model_class.human_attribute_name(:value) + ':'
  %br
  = @todo.value
%p
  - if @todo.tags.present?
    Tags:
    %ul
      - @todo.tags.each do |tag|
        %li.tag-name= tag.name

%br
%br

%h3 Comments are here:
%table.table.table-striped.comments
  %tbody
    =render @comments
    
=render 'comments/form'

.form-actions
  = link_to t('.back', default: t("helpers.links.back")), project_path(@project), class: 'btn'
  = link_to t('.edit', default: t("helpers.links.edit")), edit_project_todo_path(@project, @todo), class: 'btn'
  = link_to t('.destroy', default: t("helpers.links.destroy")), [@project, @todo], method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
